/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Amaranth:wght@400;700&family=Sofia+Sans:wght@200;400;700&display=swap');

.font-sofia {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 200;
}

.font-amaranth {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}

.font-shadows {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
}